*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
width:100%;
}

.logo-img{
mix-blend-mode: multiply;
}

.navbar{
display: right;
align-items: center;
padding: 20px;
width: 100%;
}

nav{
vertical-align: top;
text-align: right;
margin-top: 0;
margin-bottom: 0;
}

nav ul{
display: inline-block;
list-style-type: none;
}
nav ul li{
display: inline-block ;
margin-right: 20px;
}

a{
text-decoration: none;
color: #555;
}

p{
color: #555;
}

.container{
width: 1300px;
margin:auto ;
padding-left:25px ;
padding-right:25px ;
}

.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content:space-around ;
}

.col-2{
flex-basis: 50%;
min-width: 300px;
}
.col-2 img{
max-width: 129%;
padding: 50px 0;
}

.col-2 h1{
font-size: 50px;
line-height: 60px;
margin:25px 0 ;
}

.btn{
display: inline-block;
background: #069696;
color: white;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
transition: background 0.5s;
}

.btn:hover{
background: #56BABA;
}

.header{
background: radial-gradient(#FDDAC8,#FFF3E5);
}

.header .row{
margin-top: 70px;
}

.categories{
margin: 70 0;
color: #555;
}

.col-3{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}

.col-3 img{
width: 100%;
}

.small-container{
padding-left:170px ;
padding-right:170px;
margin-top: 80px ;
}

.col-4{
flex-basis: 25%;
padding: 10px;
min-width: 150px;
margin-bottom: 50px;
transition: transform 0.5s;
}

.col-4 img{
width: 70%;
height: 230px;
}

.title{
text-align: center;
margin: 0 auto 80px;
position: relative;
line-height: 60px;
color: #069696;
}

h4{
color: #555;
font-weight: normal;    
}

.col-4 p{
font-size: 14px;
} 

.rating .fa {
color: goldenrod;
}

.col-4 :hover{
transform: translateY(-5px)   
}

/*-------offer-------*/
.offer{

margin: 80px;
padding: 20px 0;

}

.col-2 .offer-img{
padding:50px;
}

small{
color:#555;
}

/*-------testimonial-------*/

.testimonial{
padding: 100px;
}

.testimonial .col-3{
text-align:center ;
padding: 40px 20px;
box-sizing: border-box ;
box-shadow: 0 0 20px 0px gray;
cursor: pointer;
transition: tranform 0.5s;
}

.testimonial .col-3 img{
width: 50px;
margin-top: 20px;
border-radius: 10%;
}
 
.testimonial .col-3:hover{
transform: translateY(-10px);
}
 
.col-3 p{
font-size: 12px;
margin: 12px 0;
color: #777;
}
 
.testimonial .col-3 h3{
font-weight: 600;
color: #555;
font-size: 16px;
}

/*-------brands-------*/
.brands{
margin: 100px auto;
}
 
.col-5{
width: 130px;
}
 
.col-5 img{
cursor: pointer;
width:100%;
filter: drop-shadow(100%)
}
 
.col-5 img:hover{
filter: grayscale(100%)
}
 
/*-------footer-------*/
.footer{
background:#F2E3D5;
color: brown;
font-size: 14px;
padding: 60px 0 20px;
width: 100%;
}
 
.footer p{
color:#555;
}
.footer h3{
color: #069696 ;
margin-bottom: 20px;
}
 
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}
 
.footer-col-1{
flex-basis: 30%;
}
 
.footer-col-1 img{
mix-blend-mode: multiply;
}
.footer-col-2{
flex:1;
text-align: center;
}
.footer-col-2 img{
width: 150px ;
margin-bottom: 20px;
}

.footer-col-3 .footer-col-4{
flex-basis: 12%;
text-align: center;
}

ul{
list-style-type: none;
}

.app-logo{
margin-top: 20px;
}

.footer hr{
border: none;
margin: 20px 0;
}

.copyright{
text-align: center;
}

.menu-icon{
width: 28px;
margin-left: 20px;
display: none;
}
.shopping-cart ul li{
display: visible;
}
 
/*---------all products page---------*/
.row-2{
margin: 90px auto 0px;   
}
select{
border: 1px solid #069696;
color: #069696;
}

select:focus{
outline: none;
}

select:hover{
color: gray;
}


.page-btn{
margin: 0 auto 80px;
}
    
.page-btn span{
display: inline-block;
color: #069696;
margin-left: 10px;
width: 10px;
height: 10px;
text-align: center;
cursor: pointer;
}

.page-btn span:hover{
color:brown ;
}

/*-----single product details-----*/

.single-product{
margin-top: 80px;
}

.single-product .col-2 img{
padding:0;
margin-right: 35px;
margin-left: 0;
margin-inline: -30px;
margin-inline-start: -30px;
margin-inline-start: -90px;
margin-bottom: -40px;
}

.single-product .col-2{
padding:0;
}

.single-product h4{
margin: 20px;
font-size: 22px;
font-weight: bold;
margin-left: -50px;
}
.single-product p{
margin-left: -50px;
}

.single-product h3{
margin-left: -50px;
padding-left: 8px;
}

.single-product select{
display: block;
margin-top:20px;
padding: 10px;
margin-left: -50px;
}

.single-product input{
width: 40px;
height: 30px;
padding-left: 10px;
font-size: 15px;
margin-right: 10px;
border: 1px solid #069696;
color: #069696;
margin-left: -50px;
}

input:focus{
outline: none;
}


.product-btn{
margin-left: -50px;
display: inline-block;
background: #069696;
color: white;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
transition: background 0.5s;
}

.single-product .fa{
color: #069696;
margin-left: 10px;
}

.small-img-row{
display: flex;
justify-content: space-between;
margin: 16px;
margin-left: -20px;
margin-right: -2px;
}

.small-img-col{
flex-basis: 24%;
cursor: pointer;
margin: 10px 10px;
padding: 10px;
}

.single-product .col-2 h1{
margin-left: -50px;
}


/*----cart items ----*/

.cart-page{
margin: 80px auto;
}

table{
width: 100%;
border-collapse: collapse;   
}

.cart-info{
display:flex;
flex-wrap: wrap;
}
.cart-info img{
margin:8px;
}
th{
text-align: left;
padding: 5px;
color: white;
background:#069696 ;
font-weight: normal;
}

td{
padding: 8px, 1px;
}

td input{
width: 40px;
height: 30px;
padding:5px;
}

td a{
color: #069696;
font-size: 12px;
}

td img{
width: 80px;
height: 80px;
margin-right: 10px;
}

.total-price{
display: flex;
justify-content: flex-end;
}

.total-price table{
border-top: 3px solid #069696;
width: 100%;
max-width: 500px;
}

td:last-child{
text-align: right;
}

th:last-child{
text-align: right;
}

/*---account-page---*/

.account-page{
background: radial-gradient(#FDDAC8,#FFF3E5);
padding: 50px 0;
}

.form-container{
background: #fff;
width: 300px;
height: 490px ;
position: relative;
text-align: center;
padding:20px 0;
margin: auto;
box-shadow: 0 0 20px 0 rgba( 0, 0 , 0, 0.1);
overflow: hidden;
}

.form-container span{
font-weight: bold;
padding: 0 10px;
color: #555;
cursor: pointer;
width: 100px;
display: inline-block;
}

.form-btn{
display: inline-block;
}

.form-container form{
max-width: 300px ;
padding: 0 20px;
position: absolute;
top: 130px;
transition: transform 1s;
}

form input{
width:230px;
height: 30px;
margin: 8px 0;
text-align: center;
padding: 0 10px;
border: 1px solid #ccc;
}

form .btn{
width: 89%;
border: none;
margin: 10px 0;
cursor: pointer;
}

form .btn:focus{
outline: none;
}

#LoginForm{
left: -400px;
}

#loginForm{
text-align: center;
margin-right: 2px;
}

#RegForm{
Left: 0;
}

#RegForm{
text-align: center;
margin-right: 2px;
}
form a{
font-size: 12px;
}

#Indicator{
width: 100px;
border: none;
background: #069696;
height: 3px;
margin-top: 8px;
transform: translateX(100px);
transition: transform 1s;
}



/*--------------- media query for menu-----------------*/
@media only screen and (max-width: 875px){

.row{
text-align: center;
float: none;
}
nav ul{
position:absolute;
top:70px;
left:0;
background: #F2E3D5;
width: 100%;
overflow: hidden;
transition: max-height 0.5s;
}

nav ul li{
display: block;
margin-right: 50px;
margin-top: 10px;
margin-bottom: 10px;
}

.menu-icon{
display: block;
cursor: pointer;
}

.container {
width: 100px;}

.col-4 img {
width: 50%;
height: 120px;}

.cart-info p{
display: none;
}

.col-3 img {
 width: 60%;
 height: 50%;
}

.logo-img{
display: inline-block;
}

}


/*--------------- media query for body-----------------*/
@media screen and (max-width:480){

body{
background: radial-gradient(#FDDAC8,#FFF3E5);
text-align: center;
}
.row{
text-align: center;
float: none;
}
.container {
width: 100px;}

.header .row{
width: 50%;
text-align: center;
font-size: 15px;
margin-top: 30px;
}
        
.col-2 img{
display: inline;
width:  100%;
justify-content: left;
}
.col-3 img {
width: 60%;
height: 50%;
}
.col-4 img {
width: 50%;
height: 120px;}

.cart-info p{
display: none;
}

.logo-img{
display: inline-block;
}

}



/*--------------- media query for less than 480 screen size-----------------*/
@media only screen and (max-width: 480px){

.container {
width: 100px;}

.row{
text-align: center;
float: none;
}

.col-2 .col-3 .col-4{
flex-basis: 100%;
float: none;
}

.single-product .row{
text-align: left;
}

.single-product .col-2{
padding: 20px 0;
}

.single-product h1{
font-size: 26px;
line-height: 32px;
}

.col-4 img {
width: 50%;
height: 120px;}

.single-product .col-2 img {
padding: 0;
width: 110px;
height: 140px;}

.col-2 img {
max-width: 100%;}

.col-3 img {
width: 60%;
height: 50%;
}

.cart-info p{
display: none;
}

.logo-img{
display: inline-block;
}

}
    
